<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwE8cqTO2MFEXEW8QVi8-3RYV3W4HyJgo</string>
	<key>GCM_SENDER_ID</key>
	<string>410562401695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>usermanagement-bf7c0</string>
	<key>STORAGE_BUCKET</key>
	<string>usermanagement-bf7c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410562401695:ios:fbc14f28cb29c5a96359aa</string>
</dict>
</plist>